body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:yellow;
  background-image: url(https://wikimedia.org
)
  
}
h1 {
  color: #09b746;
  text-align: center;
}
