body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #af01ce
}
h1 {
  color: #d2700f;
  text-align: center;
}
 body {
            background-color: lightblue; 
        }